streamlit
langgraph
langchain-core
langchain-community
langchain-ollama
pydantic
pydantic-settings
pydantic_core
annotated-types
praw
prawcore
ollama
python-dotenv
aiohttp
aiosignal
anyio
attrs
cachetools
certifi
charset-normalizer
filelock
frozenlist
fsspec
huggingface-hub
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
multidict
networkx
numpy
packaging
pandas
pillow
protobuf
pyarrow
python-dateutil
pytz
referencing
regex
requests
rpds-py
six
sniffio
tenacity
toml
tornado
typing-inspect
typing_extensions
tzdata
urllib3
websocket-client
yarl
PyYAML